{{template "header" .}}
<section class="hero late-gray-bg is-fullheight custom-font">
    {{template "navbar" .}}
    <div class="hero-body p-0 custom-font">
        <div class="main-hero"></div>
        <div class="container has-text-centered">
          <p data-aos="zoom-out-down" class="subtitle font-light">Hi, I'm</p>
          <h1 data-aos="zoom-out" class="title font-light is-1">
            <em> {{ .powerby.CreatedBy.name }}</em>
          </h1>
          <p data-aos="zoom-out-up" class="subtitle font-light">
            Web Developer
          </p>
        </div>
      </div>
</section>

<div id="about" class="pt-6"></div>
    <section class="block py-6 custom-font">
      <div class="column is-4 mx-auto">
        <h2 data-aos="fade-out" class="title has-text-centered is-uppercase">
          About Me
        </h2>
        <div class="title-underline"></div>
      </div>
      <div class="columns mx-0">
        <div class="column is-5 m-auto p-6">
          <p data-aos="fade-up">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ab
            minima eligendi ea odit non totam blanditiis praesentium. Provident
            aperiam distinctio voluptas voluptatibus repellat consequuntur
            possimus laboriosam, rerum labore magnam odit, sed qui deleniti
            quae, pariatur ex similique harum. Quaerat beatae quidem eligendi
            illum accusamus vitae delectus mollitia nisi similique reiciendis
            soluta hic, magnam a fuga minus expedita dignissimos deleniti
            tempore aspernatur distinctio rem dolorem aliquam sequi! Sunt et
            laboriosam perspiciatis perferendis debitis vitae harum eum ipsam
            quibusdam sint nobis maiores quis, dolore, minima voluptatibus modi
            aspernatur laborum aut autem tenetur dignissimos! Corporis sequi
            quia omnis quis vero, sunt voluptatem?
          </p>
        </div>
        <figure data-aos="fade-down" class="image p-6 m-auto column is-5">
          <img class="standard-radius" src="portrait.webp" alt="" />
          <span class="title font-light">Motto here</span>
        </figure>
      </div>
    </section>
{{template "footer"}}